* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 700px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

input, textarea, button {
  padding: 10px;
  font-size: 1rem;
}

button {
  cursor: pointer;
}